{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login-form mt-5">
    <h2 class="text-center">Login</h2>
    
    {% if error %}
        <div style="color:red;">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required>
        </p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<p>Don't have an account yet? <a href="{% url "register" %}">Register Here</a></p>
{% endblock %}